@font-face {
	font-display: swap;
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/bebas-neue-v10-latin-regular.woff2') format('woff2');
}
$ff-primary: 'Bebas Neue', system-ui;
$clr-background: #0a2144;
$clr-text: #cccccc;
$clr-board-water: #163b66;
$clr-board-ship: #c1cfda;
$clr-board-valid: #c1cfda;
$clr-board-invalid: #941c2f;
$clr-board-miss: #6196c6;
$clr-board-hit: #941c2f;

.page-wrapper {
	display: grid;
	align-content: space-around;
	text-align: center;
	background-color: $clr-background;
	color: $clr-text;
	font-family: $ff-primary;

	letter-spacing: 0.05rem;
}
.header {
	font-size: 2rem;
}

.main {
	display: grid;
	grid-template-areas: 'text' 'controls' 'game';
	place-content: center;
	gap: 50px;
	grid-template-rows: min-content, min-content, 1fr;
	&__game-text {
		grid-area: text;
		font-size: 1.5rem;
	}
	&__controls {
		grid-area: controls;
		display: grid;
		grid-auto-flow: column;
		place-content: space-around;
		.btn {
			appearance: none;
			font-size: 1.25rem;
			border-radius: 10px;
			padding: 0.5rem;
			background-color: $clr-text;
			color: $clr-board-water;
		}
		.btn:hover {
			background-color: $clr-board-miss;
		}
	}
	&__game {
		grid-area: game;
		display: grid;
		grid-auto-flow: column;
		place-content: center;
		gap: 50px;
	}
	&__board {
		height: 420px;
		width: 420px;
		border: 1px solid $clr-board-water;
		display: grid;
		grid-template: repeat(10, 1fr) / repeat(10, 1fr);
		&__cell {
			background-color: $clr-board-water;
			border: 1px solid #0a2144;
		}
		.ship {
			background-color: $clr-board-ship;
		}
		.hit {
			background-color: $clr-board-hit;
		}
		.miss {
			background-color: $clr-board-miss;
		}
		.valid-placement {
			background-color: $clr-board-valid;
		}
		.invalid-placement {
			background-color: $clr-board-invalid;
		}
	}
}

.footer {
	font-size: 1.125rem;
	&__link {
		text-decoration: none;
		color: $clr-board-miss;
	}
	&__link:hover {
		color: $clr-text;
	}
}
.hidden {
	display: none;
}
