.page-wrapper {
	min-height: 100vh;
	display: grid;
	align-content: space-around;
	text-align: center;
}

.main {
	display: grid;
	grid-template-areas: 'text' 'controls' 'game';
	place-content: center;
	gap: 50px;
	&__game-text {
		grid-area: text;
		font-size: 1.5rem;
	}
	&__controls {
		grid-area: controls;
		display: grid;
		grid-auto-flow: column;
		place-content: space-around;
	}
	&__game {
		grid-area: game;
		display: grid;
		grid-auto-flow: column;
		place-content: center;
		gap: 50px;
	}
	&__board {
		width: 420px;
		height: 420px;
		border: 1px solid black;
		display: grid;
		grid-template: repeat(10, 1fr) / repeat(10, 1fr);
		&__cell {
			border: 1px solid lightgray;
		}
		.ship {
			background-color: rgb(65, 65, 65);
		}
		.hit {
			background-color: rgb(188, 88, 88);
		}
		.miss {
			background-color: rgb(95, 190, 230);
		}
		.valid-placement {
			background-color: rgb(95, 230, 111);
		}
		.invalid-placement {
			background-color: rgb(230, 163, 95);
		}
	}
}
.hidden {
	display: none;
}
